<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<aside class="main-sidebar dark-bg">
    <section class="sidebar">
        <div class="user-panel black-bg">
            <div class="pull-left image"> <img src="~/images/Logos/admin.png" class="img-circle" alt="User Image"> </div>
            <div class="pull-left info">
                <p>FlexBazaar Admin</p>
                <a href="#"><i class="fa fa-circle"></i> Çevrimiçi</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header dark-bg">Menü</li>
            <li> <a href="https://fontawesome.com/versions"> <i class="fab fa-font-awesome-flag"></i> <span>Font Awesome İkon</span></a> </li>
            <li> <a href="/Admin/Category/Index/"> <i class="fa fa-th"></i> <span>Kategoriler</span></a> </li>
            <li> <a href="/Admin/Product/ProductListWithCategory/"> <i class="fa fa-archive"></i> <span>Ürünler</span></a> </li>
            <li> <a href="/Default/Index/"> <i class="fa fa-globe"></i> <span>Siteye Git</span></a> </li>
            <li> <a href="/Admin/SpecialOffer/Index/"> <i class="fa fa-tags"></i> <span>Özel Teklifler</span></a> </li>
            <li> <a href="/Admin/FeatureSlider/Index/"> <i class="fa fa-picture-o"></i> <span>Slider Paneli</span></a> </li>
            <li> <a href="/Admin/Feature/Index/"> <i class="far fa-newspaper"></i> <span>Öne Çıkan Alan Paneli</span></a> </li>
            <li> <a href="/Admin/OfferDiscount/Index/"> <i class="fa fa-cart-arrow-down"></i> <span>İndirim Teklifleri</span></a> </li>
            <li> <a href="/Admin/Brand/Index/"> <i class="fa fa-tags"></i> <span>Marka</span></a> </li>
            <li> <a href="/Admin/About/Index/"> <i class="fa fa-info"></i> <span>Hakkımda</span></a> </li>
            <li> <a href="/Admin/Comment/Index/"> <i class="fa fa-comment"></i> <span>Yorumlar</span></a> </li>
            <li> <a href="/Admin/User/UserList/"> <i class="fa fa-users"></i> <span>Kullanıcı Listesi</span></a> </li>
            <li> <a href="/Admin/Comment/Index"> <i class="fa fa-money"></i> <span>Kasa Bilgileri</span></a> </li>
            <li> <a href="/Admin/Comment/Index"> <i class="fa fa-bar-chart"></i> <span>İstatistikler</span></a> </li>
            <li> <a href="/Admin/Comment/Index"> <i class="fa fa-truck"></i> <span>Kargo</span></a> </li>
            <li> <a href="/Admin/Comment/Index"> <i class="fa fa-tags"></i> <span>İndirimler</span></a> </li>
            <li> <a href="/Admin/Comment/Index"> <i class="fa fa-picture-o"></i> <span>Görseller</span></a> </li>
            <li> <a href="/Admin/Comment/Index"> <i class="fa fa-paper-plane"></i> <span>Mesajlar</span></a> </li>
            <li> <a href="/Admin/Comment/Index"> <i class="fa fa-cog"></i> <span>Ayarlar</span></a> </li>
            <li> <a href="/Admin/Comment/Index"> <i class="fa fa-sign-out"></i> <span>Çıkış Yap</span></a> </li>
        </ul>
        <!-- sidebar-menu -->
    </section>
</aside>