
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Anasayfa</a>
                <span class="breadcrumb-item active">Ürün Listesi</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Carousel Start -->
@await Component.InvokeAsync("_CarouselDefaultComponentPartial")
<!-- Carousel End -->

<!-- Feature Start -->
@await Component.InvokeAsync("_FeatureDefaultComponentPartial")
<!-- Feature End -->

<!-- Category start -->
@await Component.InvokeAsync("_CategoriesDefaultComponentPartial")
<!-- Category End -->

<!-- Feature Products start -->
@await Component.InvokeAsync("_FeatureProductsDefaultComponentPartial")
<!-- Feature Products End -->

<!-- Offer Discount start -->
@await Component.InvokeAsync("_OfferDiscountDefaultComponentPartial")
<!-- Offer Discount End -->

<!-- Vendor start -->
@await Component.InvokeAsync("_VendorDefaultComponentPartial")
<!-- Vendor End -->
