
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

    @* head start *@
    @await Component.InvokeAsync("_HeadUILayoutComponentPartial")
    @* head end *@

<body>
    <!-- Topbar Start -->
    @await Component.InvokeAsync("_TopbarUILayoutComponentPartial")
    <!-- Topbar End -->

    <!-- Navbar Start -->
    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")
    <!-- Navbar End -->

    <!-- Breadcrumb Start -->
    @RenderBody()
    <!-- Breadcrumb End -->

    <!-- Footer Start -->
    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")
    <!-- Footer End -->

    <!-- Back to Top -->
    <!-- JavaScript Libraries -->
    <!-- Contact Javascript File -->
    <!-- Template Javascript -->
    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")

</body>

</html>
